{% extends 'congemanagement/base_index_agent.html' %}
{% load static %}
<!--  Load Files   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
-->
<!--<link rel="stylesheet" type="text/css" href="demo/css/style.css"/>
<link rel="stylesheet" type="text/css" href="demo/css/ui.css"/>-->

<!--<link rel="stylesheet" type="text/css" href="dist/css/pignose.calendar.min.css"/>-->
<!--999999999999999999-->
{% block calendre_leaves %}
    <script>
        $(function() {
            $('.calendar').pignoseCalendar({
		        multiple: false,
        
                theme: 'blue',
                //selectOver: true,
                initialize: true,
                select: function(date, context) {
                /**
                * @params this Element
                * @params date moment[]
                * @params context PignoseCalendarContext
                * @returns void
                */

                // This is selected button Element.
                var $this = $(this);

                // You can get target element in `context` variable, This element is same `$(this)`.
                var $element = context.element;

                // You can also get calendar element, It is calendar view DOM.
                var $calendar = context.calendar;

                // Selected dates (start date, end date) is passed at first parameter, And this parameters are moment type.
                // If you unselected date, It will be `null`.
         
                var $date1=date[0];
                var $date2=date[1];
                if($date1!=null && $date2!=null){
                    var $date1_updated=$date1;
                    var $date2_updated=$date2;
                    
                }
        
        
            }
	});
});
    
</script>
    <div >
        <h1>Calendrier des congés accordées</h1>
        <div class="calendar">
        </div>
        
        <div class="container container_calendar_table">
            <div class="container_selected_date_out">
                <input type="text" onkeyup="myFunction()" placeholder="Selectionner un jour ou un mois " id="selected_date_in" class="form-control"/>
            </div>
            <table id="datable_leaves" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom et prenom</th>
                        <th>Date d'entrée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave in leaves %}
                        <tr>
                            <td>{{ leave.id }}</td>
                            <td>{{ leave.employe_application_FK.nom }} {{ leave.employe_application_FK.prenom }}</td>
                            <td>{{ leave.conge_app_application_FK.date_fin_conge }}</td>
                        <tr>
                    {% endfor %}
                </tbody>

            </table>
            <div class="show_json_data"></div>
        </div>
    </div>

<script type="text/javascript">
        function myFunction() {
                        var table,input,filter, tr, td, i, tbody;
                        input = document.getElementById("selected_date_in");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("datable_leaves");
                        tbody = table.getElementsByTagName("tbody");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[2];
                            if (td) {
                                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }       
                        }
        }

</script>



{% endblock calendre_leaves %}


