
{% extends 'congemanagement/base_index_agent.html' %}
{% load static %}
{% block changer_password %}
    <h1>Changer mon mot de passe</h1>
    <form id="form-changer-password" method="post" action="{% url 'changer_password' %}" class="container">
        {% csrf_token %}
        {% for field  in changer_password_form %}
            <div class="form-group my-label">
                <div class="control-label col-sm-5"  for="{{ field.name }}">{{ field.label }}:</div>
                <div class="col-sm-12">
                    <!--<input type="email" class="form-control" data-validation="email" data-validation-length="min4" id="email_profile" placeholder="Email" required/> -->
                    {{ field }}    
                </div>
                <p class="col-sm-8" id="ed-cin-show-inf">{{ field.errors }}</p>
            </div>
        {% endfor %}
        
        <!--<p>{{ changer_password_form.old_password }}</p>
        <p>{{ changer_password_form.password }}</p>
        <p>{{ changer_password_form.new_password_confirmation }}</p>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
                <input type="submit" class="btn btn-info" id="submited-form-profile-changer_password" value="Changer"/>
                <a href="{% url 'my_profile' %}"><input type="button" class="btn reteur-btn" id="retour-from-profile-changer_password-to-agent_histo" value="Reteur"/></a>
            </div>
        </div>
    </form>
    
{% endblock changer_password %}
